<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521923515909-kdcujjpg88j1p2epd58nu2cuf9ss04ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521923515909-kdcujjpg88j1p2epd58nu2cuf9ss04ll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521923515909-pa8074ng8d0qrgrmfqi2bl2sebq01l8u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoAybDMEOxK3dYXZvPskdDjn_hHdqfmMA</string>
	<key>GCM_SENDER_ID</key>
	<string>521923515909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koliberlux.KoliberLux</string>
	<key>PROJECT_ID</key>
	<string>lojalnosc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lojalnosc-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521923515909:ios:751b2a96e5887e49d32e6c</string>
</dict>
</plist>